<!doctype html>
<html layout:decorate="~{layout}" lang="ko">
<div layout:fragment="content" class="container">
  <h5 class="my-3 border-bottom pb-2">질문등록</h5>
  <form th:action="@{/notification/create}" th:object="${notificationForm}" method="post">
    <div th:replace="~{form_errors :: formErrorsFragment}"></div>
<!--  th:replace : 공통 템플릿 템플릿 내에 삽입가능  -->
    <div class="mb-3">
      <label for="subject" class="form-label">제목</label>
      <input type="text" name="subject" id="subject" class="form-control">
<!--   name="subject" id="subject" => th:field="*{subject}" 변경 오류 / 해당 기능: 오류 발생 시 이전 값 저장   -->
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <textarea name="content" id="content" class="form-control" rows="10"></textarea>
<!--   name="content" id="content" => th:field="*{content}" 변경 오류   -->
    </div>
    <input type="submit" value="저장하기" class="btn btn-primary my-2">
  </form>
</div>
</html>